<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h2 class="mb-4 text-primary">Ajouter vos photos</h2>
      </div>
      <form [formGroup]="photoForm" (ngSubmit)="saveData()">
        <!-- Champ pour le titre -->
        <div class="form-group">
          <label>Titre : </label>
          <input type="text" formControlName="title" class="form-control" />
          <div class="text-danger">{{ showErrorMessage('title') }}</div>
        </div>
        <!-- Champ pour la description -->
        <div class="form-group">
          <label>Description : </label>
          <input type="text" formControlName="description" class="form-control"/>
          <div class="text-danger">{{ showErrorMessage('description') }}</div>
        </div>
        <br />
        <!-- Champ pour le fichier image -->
        <div>
          <label for="file">Choisir une photo :</label>
          <input type="file" class="form-control-file" id="file" (change)="onFileSelected($event)" />
        </div>
        <br />
        <!-- Bouton pour soumettre le formulaire -->
        <div>
          <button type="submit" class="btn btn-primary" [disabled]="!photoForm.valid || !photoForm.touched">
            {{ isEditing ? 'Modifier' : 'Ajouter' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br /><br />
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Likes</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @for ( data of photoData | async; track data.id) {
       <tr>
        <td>{{ data.title }}</td>
        <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
          {{ data.description }}
        </td>
        <td>
          <img [src]="data.imageUrl" alt="Image" width="100">
        </td>
        <td>{{ data.likes }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editData(data)">Edit</button>
          &nbsp;
          @if (data?.id) {
            <button type="button" class="btn btn-danger" (click)="deleteData(data.id!)">Supprimer</button>
            &nbsp;
            <button type="button" class="btn btn-secondary" (click)="navigateToDetails(data.id!)">Details</button>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
  <button class="btn btn-primary position-absolute end-0" routerLink="/gallery">
    Voir Gallery
  </button>
</div>
<br><br><br><br><br><br>
